.akashic-form-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.akashic-form-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.akashic-form-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.akashic-form-modal-close:hover,
.akashic-form-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Help Modal Styles */
.akashic-help-modal {
    display: none;
    position: fixed;
    z-index: 1001; /* Higher than the form modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.akashic-help-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 25px;
    width: 90%;
    max-width: 700px;
    position: relative;
    border-radius: 5px;
}

.akashic-help-modal-close {
    color: #000000;
    background-color: #ffffff;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.akashic-help-modal-close:hover,
.akashic-help-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.akashic-help-button {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    padding: 0.25rem;
    text-decoration: underline;
    color: inherit
}

.akashic-help-button:hover {
    background-color: white;
    color: black;
}

.label-wrapper {
    display: flex;
    align-items: center;
}

.akashic-form .label-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*STYLES DE INPUT FILE*/
.sardimar-uploader-wrapper { width: 100%; }
            
.drop-zone {
    position: relative;
    background: white;
    border-radius: 0px 20px 0px 20px;
    padding: 40px;
    text-align: center;
    border: 2px dashed transparent;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.drop-zone.drag-over { border-color: #3296d4; background: #f0f8ff; }

.upload-icon { margin-bottom: 10px; }

.main-text { font-size: 18px; color: #333; margin: 0; }
.blue-text { color: #3296d4; text-decoration: underline; cursor: pointer; }

.sub-text { font-size: 14px; color: #888; margin-top: 5px; }

.real-input {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    cursor: pointer;
}

.formatos-validos {
    font-size: 12px;
    color: #004a99;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
}
